@using MvcKutuphane.Models.Entity;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Hareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>

@using (Html.BeginForm("Index", "Odunc", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Aranacak Kitap Adını Girin: &nbsp;</b>@Html.TextBox("p")
        <input type="submit" value="Ara" class="btn btn-primary" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>İade Al</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.Tbl_Kitaplar.Ad</td>
            <td>@k.Tbl_Uyeler.Ad &nbsp; @k.Tbl_Uyeler.Soyad</td>
            <td>@k.Tbl_Personeller.Personel</td>
            <td>@Convert.ToDateTime(k.AlısTarih).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.IadeTarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/OduncIade/@k.ID" class="btn btn-default" style="background-color:#00ffff; width: 160px; height: 35px; font-size: 18px;">Kitabı İade Et</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

