@using MvcKutuphane.Models.Entity;
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="UTF-8" />
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <h2>Kitap Listem</h2>
                        <div class="card-header p-2">
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <!-- timeline time label -->
                                @if (Model == null || !Model.Any())
                                {
                                    @:Henüz bir kitap ödünç alınmadı.
                                }
                                else
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="timeline timeline-inverse">
                                            <div class="time-label">
                                                <a class="btn btn-success">
                                                    <span class="bg-success">
                                                        @(((DateTime)item.AlısTarih).ToString("dd-MMM-yyyy"))
                                                    </span>
                                                </a>
                                                ---
                                                <a class="btn btn-warning">
                                                    <span class="bg-warning">
                                                        @if (item.UyeninGetirTarih == null)
                                                        {
                                                            @: Henüz iade edilmedi.
                                                        }
                                                        else
                                                        {
                                                            @(((DateTime)item.UyeninGetirTarih).ToString("dd-MMM-yyyy"))
                                                        }
                                                    </span>
                                                </a>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                <div class="timeline-item">
                                                    <div class="timeline-body">
                                                        @item.Tbl_Kitaplar.Ad -- @item.Tbl_Kitaplar.Tbl_Yazarlar.Ad &nbsp; @item.Tbl_Kitaplar.Tbl_Yazarlar.Soyad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</body>
</html>