@using MvcKutuphane.Models.Entity;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Uyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-bordered">
    <tr style="background-color:aqua">
        <th>ÜYE ID</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>
        <th>MAİL</th>
        <th>Eğitim Durumu</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>Üye Kitap Geçmişi</th>
    </tr>
    @foreach(var uye in Model)
     {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.Ad</td>
            <td>@uye.Soyad</td>
            <td>@uye.Mail</td>
            <td>@uye.Tbl_Egitimler.Egitim</td>
            <td><a href="/Uye/UyeSil/@uye.ID" class="btn btn-danger" style="width:35px; height:35px; font-size:18px" >Sil</a></td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-success" style="width:90px; height:35px; font-size:18px" >Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@uye.ID" class="btn btn-success" style="background-color:lightseagreen; height:35px; font-size:18px" >Kitap Geçmişi</a></td>
        </tr>
     }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new {sayfa}))
<a href="/Uye/UyeEkle/" class="btn btn-primary" style="width:160px; height:35px; font-size: 18px;">Yeni Üye Ekle</a>