@using MvcKutuphane.Models.Entity
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="font-size:28px; text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Üye: @ViewBag.uye</h2>
<br />
<table class="table table-active">
    <tr>
        <th>Kitap Adı</th>
        <th>Personel Adı</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
    </tr>
    @foreach(var x in Model)
     {
         <tr>
             <td>@x.Tbl_Kitaplar.Ad</td>
             <td>@x.Tbl_Personeller.Personel</td>
             <td>@Convert.ToDateTime(x.AlısTarih).ToString("dd/MM/yyyy")</td>
             <td>
                 @if (x.UyeninGetirTarih == null)
                 {
                     @:Henüz iade edilmedi
                   }
                 else
                 {
                     @Convert.ToDateTime(x.UyeninGetirTarih).ToString("dd/MM/yyyy")
                 }
             </td>
         </tr>
     }
</table>